<div class='form'>
<h1>名簿管理</h1>
<h3>ログイン</h3>

<%= form_tag '/top/login', method: :post do %>
<p>
    <%= label_tag :uid, 'ユーザーID' %>
    <%= text_field_tag :uid %></p>
<p>
    <%= label_tag :pass, 'パスワード' %>
    <%= password_field_tag :pass %></p>
    <%= submit_tag 'ログイン' %>
<% end %>

<%=link_to(new_teacher_path) do %>
        <button class="btn-secondary1" >新規登録</button>
<%end%>

</div>