
<%= form_for @student, url: {action: :update} do |f| %>
	<p><%= f.label :students_id, '学籍番号' %>
	<%= f.number_field :students_id %></p>
	<p><%= f.label :name, '名前' %>
	<%= f.text_field :name %></p>
	<p><%= f.label :name_furi, 'ふりがな' %>
	<%= f.text_field :name_furi %></p>
	<p><%= f.label :grade, '学年' %>
	<%= f.select :grade, ['1', '2', '3', '4'] %></p>
	<p><%= f.label :course, 'クラス' %>
	<%= f.number_field :course %></p>
	
	

  	<p>
  		<%= f.label :tannin,'担任' %>
   		<%= f.select :tannin, @teachers.map{ |teacher| [teacher.uid] } %>
  	</p>
	
	
	<p><%= f.label :message, 'メモ' %>
	<%= f.text_area :message %></p>

<%= f.submit '更新' %>
<% end %>
