

<%= form_for @student , url: {action: :create} do |f| %>
	<p><%= f.label :students_id, '学籍番号' %>
	<%= f.number_field :students_id %></p>
	<p><%= f.label :name, '名前' %>
	<%= f.text_field :name %></p>
	<p><%= f.label :name_furi, 'ふりがな' %>
	<%= f.text_field :name_furi %></p>
	<p><%= f.label :grade, '学年' %>
	<%= f.number_field :grade %></p>
	<p><%= f.label :message, 'メモ' %>
	<%= f.text_field :message %></p>

<%= f.submit '登録' %>
<% end %>